<div class="toolbar">

  <!-- Left Actions -->
  <div class="toolbar-left">

    <button
      class="tool-btn primary"
      (click)="format.emit()"
      [disabled]="disabled">

      <i class="fa-solid fa-code"></i>
      Format
    </button>

    <button
      class="tool-btn"
      (click)="minify.emit()"
      [disabled]="disabled">

      <i class="fa-solid fa-compress"></i>
      Minify
    </button>

    <button
      class="tool-btn"
      (click)="validate.emit()"
      [disabled]="disabled">

      <i class="fa-solid fa-circle-check"></i>
      Validate
    </button>

    <!-- <button
      class="tool-btn"
      (click)="copy.emit()"
      [disabled]="disabled">

      <i class="fa-regular fa-copy"></i>
      Copy
    </button> -->

    <button
      class="tool-btn"
      type="button"
      (click)="sample.emit()">
      <i class="fa-solid fa-flask"></i>
      Sample
    </button>

    <button
      class="tool-btn danger"
      (click)="clear.emit()">

      <i class="fa-solid fa-trash"></i>
      Clear
    </button>

  </div>


  <!-- Right Toggle -->
  <div class="toolbar-right tooltip-wrapper">

    <span class="live-label">
      Live
    </span>

    <label class="switch">

      <input
        type="checkbox"
        [checked]="live"
        (change)="toggleLive.emit()">

      <span class="slider"></span>

    </label>


    <!-- Tooltip -->
    <span class="tooltip-text">
      Enable live validation while typing
    </span>

  </div>


</div>
