<nav class="navbar navbar-expand-lg fixed-top border-bottom">

  <div class="container">

    <!-- Logo -->
    <a class="navbar-brand" routerLink="/">
      DevTools Hub
    </a>

    <!-- Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#mainNavbar"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu -->
    <div class="collapse navbar-collapse" id="mainNavbar">

      <ul class="navbar-nav ms-auto align-items-lg-center">

        <li class="nav-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            class="nav-link"
          >
            Home
          </a>
        </li>

        <li class="nav-item">
          <a
            routerLink="/json-formatter"
            routerLinkActive="active"
            class="nav-link"
          >
            Tools
          </a>
        </li>

        <li class="nav-item">
          <a href="#about" class="nav-link">
            About
          </a>
        </li>

        <li class="nav-item">
          <a href="#contact" class="nav-link">
            Contact
          </a>
        </li>

        <!-- Theme -->
        <li class="nav-item ms-lg-3 mt-2 mt-lg-0">

          <button
            class="btn btn-outline-primary btn-sm theme-btn"
            (click)="toggleTheme()"
          >
            {{ isDark() ? '☀️' : '🌙' }}
          </button>

        </li>

      </ul>

    </div>

  </div>

</nav>
