<div class="tree-view-container">

  <!-- Controls -->
  <div class="tree-controls">

    <button
      class="tree-btn"
      type="button"
      (click)="expandAll()">

      <i class="fa-solid fa-plus-square"></i>
      Expand All

    </button>

    <button
      class="tree-btn"
      type="button"
      (click)="collapseAll()">

      <i class="fa-solid fa-minus-square"></i>
      Collapse All

    </button>

  </div>


  <!-- Content -->
  <div class="tree-content">

    <!-- Empty -->
    <div
      class="tree-empty"
      *ngIf="tree().length === 0">

      <i class="fa-solid fa-code-branch"></i>
      <p>No JSON to display</p>

    </div>


    <!-- Tree -->
    <ng-container
      *ngIf="tree().length > 0">

      <ng-container
        *ngTemplateOutlet="
          nodeTemplate;
          context: { $implicit: tree() }
        ">
      </ng-container>

    </ng-container>

  </div>

</div>


<!-- Recursive Template -->
<ng-template #nodeTemplate let-nodes>

  <div
    class="tree-node"
    *ngFor="let node of nodes; trackBy: trackByKey">


    <!-- Header -->
    <div
      class="node-header"
      (click)="toggleNode(node)">


      <!-- Toggle -->
      <i
        *ngIf="node.children?.length"
        class="fa-solid toggle-icon"
        [class.fa-caret-right]="!node.expanded"
        [class.fa-caret-down]="node.expanded">
      </i>

      <span
        *ngIf="!node.children?.length"
        class="no-toggle">
      </span>


      <span class="node-key">{{ node.key }}</span>
      <span class="node-colon">:</span>


      <!-- Object -->
      <span
        *ngIf="node.type === 'object'"
        class="node-type">

        {{ '{ }' }}

      </span>


      <!-- Array -->
      <span
        *ngIf="node.type === 'array'"
        class="node-type">

        {{ '[ ]' }}

      </span>


      <!-- Primitive -->
      <span
        *ngIf="
          node.type !== 'object' &&
          node.type !== 'array'
        "
        class="node-value"
        [class]="'type-' + node.type">

        {{ formatValue(node.value, node.type) }}

      </span>

    </div>


    <!-- Children -->
    <div
      class="node-children"
      *ngIf="
        node.expanded &&
        node.children?.length
      ">

      <ng-container
        *ngTemplateOutlet="
          nodeTemplate;
          context: { $implicit: node.children }
        ">
      </ng-container>

    </div>

  </div>

</ng-template>
