/* =====================================================
   CONTAINER
===================================================== */

.editor-container {
  display: flex;

  width: 100%;
  height: 100%;

  border: 1px solid var(--border-light);
  border-radius: var(--radius-sm);

  background: var(--textarea-bg-card);
}


/* =====================================================
   LINE NUMBERS
===================================================== */

.line-numbers {
  width: 42px;

  padding: 0.75rem 6px;

  background: #f8fafc;

  border-right: 1px solid var(--border-light);

  text-align: right;

  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.6;

  color: #64748b;

  user-select: none;

  overflow: hidden;
}

.line-numbers span {
  display: block;
}


/* =====================================================
   TEXTAREA
===================================================== */

.json-editor {
  flex: 1;

  width: 100%;
  height: 100%;

  resize: none;

  border: none !important;
  outline: none;

  background: transparent;

  padding: 0.75rem;

  font-family: monospace;
  font-size: 0.9rem;
  line-height: 1.6;

  color: var(--text-main);
}


/* Focus */

.json-editor:focus {
  box-shadow: inset 0 0 0 2px rgba(13, 162, 231, 0.2);
}
