/* =====================================
   GLOBAL DESIGN SYSTEM (DevTools Hub)
===================================== */

:root {

  /* ====================
     BRAND COLORS
  ==================== */

  --primary: #0da2e7;
  --primary-soft: #f1f5f9;
  --primary-dark: #0b8bc7;

  --secondary: #64748b;
  --success: #22c55e;
  --danger: #ef4444;
  --warning: #f59e0b;

  /* ====================
     BACKGROUNDS
  ==================== */

  --bg-main: #ffffff;
  --bg-soft: #f8fafc;
  --bg-card: #ffffff;
  --textarea-bg-card: #f9fcff;
  --bg-section: #f1f5f9;

  /* ====================
     TEXT
  ==================== */

  --text-main: #0f172a;
  --text-muted: #64748b;
  --text-light: #94a3b8;

  --text-nav: #6c7b90;

  /* ====================
     NAVBAR COLORS
  ==================== */

  --nav-text: #6c7b90;
  --nav-hover-bg: #f1f5f9;
  --nav-hover-text: #0da2e7;

  /* ====================
     BORDERS
  ==================== */

  --border-light: #e2e8f0;
  --border-medium: #cbd5e1;

  /* ====================
     TYPOGRAPHY
  ==================== */

  --font-main: 'Inter', system-ui, sans-serif;

  --fs-xxl: 3rem;
  --fs-xl: 2.4rem;
  --fs-lg: 1.4rem;
  --fs-md: 1rem;
  --fs-sm: 0.875rem;
  --fs-xs: 0.75rem;

  /* ====================
     SPACING
  ==================== */

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 3rem;

  /* ====================
     RADIUS
  ==================== */

  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 16px;

  /* ====================
     SHADOWS
  ==================== */

  --shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
  --shadow-md: 0 4px 10px rgba(0,0,0,0.08);
  --shadow-lg: 0 8px 24px rgba(0,0,0,0.12);
}

/* =====================================
   BASE
===================================== */

body {
  margin: 0;
  font-family: var(--font-main);
  background: var(--bg-soft);
  color: var(--text-main);
  
}

/* =====================================
   DARK THEME
===================================== */

[data-theme="dark"] {

  --primary: #38bdf8;
  --primary-soft: #0c4a6e;
  --primary-dark: #0284c7;

  --bg-main: #020617;
  --bg-soft: #020617;
  --bg-card: #020617;
  --bg-section: #020617;

  --text-main: #e5e7eb;
  --text-muted: #94a3b8;
  --text-light: #64748b;

  --text-nav: #94a3b8;

  /* Navbar Dark */

  --nav-text: #94a3b8;
  --nav-hover-bg: rgba(13,162,231,0.18);
  --nav-hover-text: #38bdf8;

  --border-light: #1e293b;
  --border-medium: #334155;
}
